.container {
  max-width: 400px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  position: relative;
  background-color:#443241;
  padding-top: 5px;

header {
  padding: 15px;
  margin: 0 1%;
  font-size: 40px;
  border-radius: 5px;
  font-style: italic;
  text-align: center;
  background-color: #c8143e;
  color: white;
}

.search {
  margin: 10px 2%;

  .text, .button{
    width: 80%;
    border-radius: 5px;
    border: 1px solid  #B3B3B3;
    padding: 5px;
  }
  .button {
    width: 15%;
    font-size: 13px;
    text-align: center;

  }
}
audio {
  width: 100%;
}

aside {
  color: white;
  padding: 2px 5%;
}
.artwork{
  width: 48%;
  float: left;
  background-color: #443241;
  color: #DEE1E3;
  padding: 0 1% 0 1%;

  img {
    border: 1px solid #B3B3B3;
  }
  img, p{
    width: 98%;
  }
  p{
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 5px 2px 5px;
    margin: 2px ;
    text-overflow: ellipsis;
  }
  span { display: none; }
}
}
@media screen and (min-width: 500px){

  .container {
    max-width: 800px;
    top-padding:15px;
  header {
    font-size: 60px;
  }

  .artwork {
    width: 31.33%;
  }
}
}
@media screen and (min-width: 800px){

  .container {
    max-width: 1100px;
    top-padding:15px;

  header {
    font-size: 80px;
  }

  .search {
    margin: 25px 2%;
  }

  aside {
    padding: 10px 5%;
  }

  .artwork {
    width: 18%;
  }
}
}
